@model Books
<form   asp-action="Edit" method="post">
    <input type="hidden" asp-for="BooksId" >
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Book's Name</label>
        <input asp-for="Name" class=" form-control">
    </div>
    <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select class="form-select" id="category" name="CategoryId">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.CategoryId">@category.Name</option>
        }
    </select>
</div>

   
   <button type="submit" asp-action="Edit" class="btn btn-primary">Edit</button>
</form>