
@model toUserViewModel

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}
<form asp-action="toUser" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="id" value="@Model.BookId" />
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>
    
    
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>